body {
  font-family: "open_sansregular", Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 1.4;
  color: black;
  margin: 20px auto;
  padding: 0px;
  width: 80%; }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: inherit; }

    h1 {
      margin-bottom: 0.5em; }

      #nav ul {
        list-style-type: none;
        margin-top: -1.2em;
        padding-left: 0; }
        #nav ul li {
          display: inline;
          margin-left: 0; }

body#index a#nav-index, body#wellington a#nav-wellington, body#about a#nav-about {
  color: inherit; }

  a {
    color: royalblue;
    text-decoration: none; }

    a:hover, a:active {
      text-decoration: underline; }

      p {
        margin: 0 0 1.2em 0; }

        table {
          border-collapse: collapse;
          width: 100%;
          font: inherit; }
          table td + td {
            text-align: right; }

ol {
  border: 0px solid black; }
  ol li {
    margin-left: -1em; }

#wrap {
  font-family: "open_sansregular", Helvetica, sans-serif;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  width: 100%;
  border: 1px solid #ddd;
  margin: 1em 0;
  padding: 10px;
  background-color: white;
  overflow: hidden; }

  #map {
    float: left;
    width: 75%;
    min-height: 570px; }

    #sidebar {
      float: right;
      width: 23%;
      padding-left: 1em; }

      .info {
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        text-align: left;
        margin: 0;
        padding: 6px 8px;
        font-weight: normal;
        line-height: 1.2;
        border-color: white;
        font-family: "open_sansregular", Helvetica, sans-serif;
        font-size: 9pt;
        line-height: 1.2;
        color: black;
        width: 180px;
        padding-bottom: 1em;
        min-height: 150px; }
        .info h4 {
          margin: 0 0 0.5em 0;
          font-weight: bold; }

.legend {
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: left;
  margin: 0;
  padding: 6px 8px;
  font-weight: normal;
  line-height: 1.2;
  border-color: white;
  font-family: "open_sansregular", Helvetica, sans-serif;
  font-size: 9pt;
  line-height: 1.2;
  color: black;
  height: 205px;
  width: 65px;
  padding-bottom: 1em; }
  .legend h4 {
    margin: 0 0 0.5em 0;
    font-weight: bold; }
    .legend span {
      line-height: 1.3;
      padding: 0 0.8em; }
      .legend .color {
        border: 1px solid #333; }

section {
  margin-bottom: 1em; }

  #income {
    border: 0;
    width: 110px;
    color: #d53e4f;
    opacity: 1;
    font-size: 150%;
    font-weight: bold;
    background-color: white; }

    #income-slider {
      margin-top: 0.5em;
      width: 90%; }
      #income-slider label {
        position: absolute;
        width: 10px;
        margin-top: 11px;
        margin-left: -4px;
        font-size: 7pt; }

#income-note {
  width: 180px;
  margin: 1.1em 0em 1em 2em;
  font-size: 7pt; }

  #num-bedrooms, #num-bedrooms-rent, #mode0, #mode1, #num-cars {
    list-style-type: none;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0; }
    #num-bedrooms li, #num-bedrooms-rent li, #mode0 li, #mode1 li, #num-cars li {
      display: inline-block;
      margin: 0em 0em 0.2em 0em;
      padding: 0.2em 0.4em;
      height: 1.2em;
      text-align: center;
      vertical-align: middle;
      border-radius: 5px;
      color: inherit; }
      #num-bedrooms .ui-selected, #num-bedrooms .ui-selecting,
      #num-bedrooms-rent .ui-selected, #num-bedrooms-rent .ui-selecting,
      #mode0 .ui-selected, #mode0 .ui-selecting, #mode1 .ui-selected,
      #mode1 .ui-selecting, #num-cars .ui-selected, #num-cars .ui-selecting {
        background: #d53e4f;
        opacity: 1;
        color: white; }
        #num-bedrooms .blocked, #num-bedrooms-rent .blocked, #mode0 .blocked,
        #mode1 .blocked, #num-cars .blocked {
          opacity: 0; }

#mode0 li, #mode1 li {
  margin: 0em 0.3em 0.2em 0em; }

#num-workdays0, #num-workdays1, #parking0, #parking1 {
  border: 0;
  width: 2.3em;
  color: #d53e4f;
  opacity: 1;
  font-size: 150%;
  font-weight: bold;
  background-color: white; }

  #num-workdays-slider0, #num-workdays-slider1, #parking-slider0, #parking-slider1 {
    width: 100px;
    display: inline-block; }

    .leaflet-container {
      background: white !important; }

      .leaflet-popup-content {
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        text-align: left;
        margin: 0;
        padding: 6px 8px;
        font-weight: normal;
        line-height: 1.2;
        border-color: white;
        font-family: "open_sansregular", Helvetica, sans-serif;
        font-size: 9pt;
        line-height: 1.3;
        color: black;
        min-width: 100px; }
        .leaflet-popup-content h4 {
          margin: 0 0 0.5em 0;
          font-weight: bold; }

.leaflet-popup-tip {
  width: 0;
  height: 0;
  border: 0; }

  .leaflet-popup-content-wrapper {
    padding: 0px;
    border-radius: 5px; }

    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
      box-shadow: None; }
