body {
  font-family: 'Open Sans', Helvetica;
  font-size: 12pt;
  line-height: 1.3;
  color: black;
  margin: 2em auto;
  padding: 0px;
  width: 80%; }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: inherit; }

    a {
      color: #2b83ba;
      text-decoration: none; }

      a:hover, a:active {
        text-decoration: underline; }

        p {
          margin: 0 0 1.2em 0; }

          table {
            border-collapse: collapse;
            width: 100%; }
            table td + td {
              text-align: right; }

ol {
  border: 0px solid black; }
  ol li {
    margin-left: -1em; }

#container {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
  overflow: hidden; }

  #map {
    float: left;
    width: 70%;
    min-height: 500px; }

    #sidebar {
      float: right;
      width: 27%;
      padding-left: 1em;
      font-size: 9pt; }

      .legend {
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        text-align: left;
        margin: 0;
        padding: 6px 8px;
        font-weight: normal;
        border-color: white;
        font-family: 'Open Sans', Helvetica;
        font-size: 9pt;
        line-height: 1.3;
        color: black;
        width: 220px;
        padding-bottom: 1em;
        line-height: 1.7; }
        .legend h4 {
          margin: 0 0 0.5em 0;
          font-weight: bold; }
          .legend span {
            padding: 0.4em 0.4em; }

.info {
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: left;
  margin: 0;
  padding: 6px 8px;
  font-weight: normal;
  border-color: white;
  font-family: 'Open Sans', Helvetica;
  font-size: 9pt;
  line-height: 1.3;
  color: black;
  width: 180px;
  padding-bottom: 1em;
  min-height: 140px; }
  .info h4 {
    margin: 0 0 0.5em 0;
    font-weight: bold; }

section {
  margin-bottom: 1em; }

  #income {
    border: 0;
    width: 110px;
    color: #d7191c;
    opacity: 0.8;
    font-size: 150%;
    font-weight: bold;
    background-color: white; }

    #income-slider {
      margin-top: 0.5em;
      width: 90%; }
      #income-slider label {
        position: absolute;
        width: 10px;
        margin-top: 11px;
        margin-left: -4px;
        font-size: 7pt; }

#income-note {
  width: 180px;
  margin: 1.1em 0em 1em 2em;
  font-size: 7pt; }

  #num-bedrooms, #num-bedrooms-rent, #mode, #num-cars {
    list-style-type: none;
    margin: 0.5em 0em 2em 0em;
    padding: 0; }
    #num-bedrooms li, #num-bedrooms-rent li, #mode li, #num-cars li {
      display: inline;
      margin: 0em 0.2em 0.2em 0em;
      padding: 0.2em 0.4em;
      float: left;
      height: 1.2em;
      text-align: center;
      vertical-align: middle;
      border-radius: 5px;
      color: inherit; }
      #num-bedrooms .ui-selected, #num-bedrooms .ui-selecting,
      #num-bedrooms-rent .ui-selected, #num-bedrooms-rent .ui-selecting,
      #mode .ui-selected, #mode .ui-selecting, #num-cars .ui-selected,
      #num-cars .ui-selecting {
        background: #d7191c;
        opacity: 0.8;
        color: white; }
        #num-bedrooms .blocked, #num-bedrooms-rent .blocked, #mode .blocked,
        #num-cars .blocked {
          opacity: 0; }

#num-workdays, #parking {
  border: 0;
  width: 2.3em;
  color: #d7191c;
  opacity: 0.8;
  font-size: 150%;
  font-weight: bold;
  background-color: white; }

  #num-workdays-slider, #parking-cost-slider {
    width: 100px;
    display: inline-block; }

    #about {
      clear: both; }

      .leaflet-container {
        background: white !important; }

        .leaflet-popup-content {
          background: white;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          border-radius: 5px;
          text-align: left;
          margin: 0;
          padding: 6px 8px;
          font-weight: normal;
          border-color: white;
          font-family: 'Open Sans', Helvetica;
          font-size: 9pt;
          line-height: 1.3;
          color: black; }
          .leaflet-popup-content h4 {
            margin: 0 0 0.5em 0;
            font-weight: bold; }

.leaflet-popup-tip {
  width: 0;
  height: 0;
  border: 0; }

  .leaflet-popup-content-wrapper {
    padding: 0px;
    border-radius: 5px; }

    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
      box-shadow: None; }
