@font-face {
	font-family: 'transit-icons';
	src:url('fonts/transit-icons.eot?aan2vl');
	src:url('fonts/transit-icons.eot?#iefixaan2vl') format('embedded-opentype'),
		url('fonts/transit-icons.woff?aan2vl') format('woff'),
		url('fonts/transit-icons.ttf?aan2vl') format('truetype'),
		url('fonts/transit-icons.svg?aan2vl#transit-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'transit-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bicycle:before {
	content: "\e600";
}
.icon-bicycle_2:before {
	content: "\e601";
}
.icon-car:before {
	content: "\e602";
}
.icon-bus:before {
	content: "\e603";
}
.icon-walk:before {
	content: "\e604";
}
